<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" 
               name="payment[method]" 
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <form id="windcave_pxfusion_form">
            <div data-bind="if: isRebillEnabled">
                <div data-bind="if: containsSavedCards">
                    <input type="radio" class="radio" name="payment[windcave_pxfusion_use_saved_card]" id="windcave_pxfusion_use_saved_card" value="withRebillToken"
                        data-bind="checked: paymentOption" />
                    <label class="radio" for="windcave_pxfusion_use_saved_card">Use one of the following saved payment details: </label>

                    <div style="padding-left: 2em;" class="dpsPaymentForm">
                        <div class="input-box required">
                            <select name="payment[windcave_pxfusion_rebilling_token]" id="windcave_pxfusion_rebilling_token" title="Saved Cards" 
                                data-bind="enable: rebillingTokenEnabled, 
                                           value:billingId, 
                                           attr:{'data-validate': JSON.stringify({'required-entry':true})}">
                                <option value="">--Please Select--</option>
                                <!-- ko foreach: savedCards -->
                                <option data-bind="value: billing_token, text:card_info"></option>
                                <!--/ko-->
                            </select>
                        </div>

                        <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_rebilling_div'}, if: requireCvcForRebilling">
                            <div class="control _with-tooltip">
                                <input type="number" autocomplete="off" class="input-text cvv" placeholder="CVC" name="payment[windcave_pxfusion_cvc_rebilling]" maxlength="4" 
                                    data-bind="value:cvcForRebilling,
                                               enable: rebillingTokenEnabled,
                                                attr: {id: getCode() + '_cvc_rebilling' ,
                                                    'data-validate': JSON.stringify({
                                                        'required-entry':true,
                                                        'windcave-validate-cvc':true,
                                                        'windcave-pattern':'\\d{3,4}'
                                                    })  },
                                                event:{ input: function(data, event) { numberOnlyInput(data, event, false); } }"/>
                            </div>
                            
                            <div class="field-tooltip toggle">
                                <span class="field-tooltip-action action-cvv" tabindex="0" data-toggle="dropdown"
                                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                </span>
                                <div class="field-tooltip-content" data-target="dropdown" data-bind="html: getCvvImageHtml()"></div>
                            </div>
                        </div>

                    </div>

                   
                    <div><input type="radio" class="radio" id="windcave_pxfusion_without_rebill_token"  value="withoutRebillToken" data-bind="checked: paymentOption" />
                        <label class="radio" for="windcave_pxfusion_without_rebill_token">Proceed without using any saved payment detail. </label></div>
                    <div class="dpsCheckboxIndent">
                        <input class="checkbox" type="checkbox" id="windcave_pxfusion_save_card_info" name="payment[windcave_pxfusion_save_card_info]"
                            data-bind="enable: addBillCardEnabled, checked: enableAddBillCard" />
                        <label for="windcave_pxfusion_save_card_info">Save your payment details for next time </label>
                    </div>
                </div>

                <div data-bind="ifnot: containsSavedCards">
                    <div> Proceed without using any saved payment detail. </div>
                    <input class="checkbox" type="checkbox" id="windcave_pxfusion_save_card_info" name="payment[windcave_pxfusion_save_card_info]"
                        data-bind="enable: addBillCardEnabled, checked: enableAddBillCard" />
                    <label for="windcave_pxfusion_save_card_info">Save your payment details for next time</label>
                </div>
            </div>
            
            <div class="dpsPaymentForm" data-bind="if: !isRebillEnabled || cardEnteringEnabled">
                <input type="hidden" name="payment[cc_type]" class="input-text" value="" 
                    data-bind="attr:{
                        id: getCode() + '_cc_type', 
                        'data-container': getCode() + '-cc-type'
                    }, 
                    value: creditCardType">
                   
                <div class="field number required">
                    <div class="control">
                        <input type="tel" class="input-text dpsPaymentFormCardNumber" name="payment[windcave_pxfusion_card_number]" placeholder="Card Number" maxlength="23"
                            data-bind="attr:{
                                            autocomplete: off,
                                            id: getCode() + '_card_number',
                                            'data-validate': JSON.stringify({
                                                'required-number':true, 
                                                'validate-cc-number':'#' + getCode() + '_cc_type',
                                                'windcave-pattern': '[\\d ]{16,23}'
                                            })
                                       },
                                       event:{ input: function(data, event) { numberOnlyInput(data, event, true); } },
                                       value:cardNumber,
                                       valueUpdate: 'keyup'"/>
                    </div>
                </div>

                <div class="field required">
                    <input type="text" class="input-text dpsPaymentFormCardholderName" placeholder="Card Holder Name" name="payment[windcave_pxfusion_card_holder_name]" maxlength="64"
                        data-bind="value:cardHolderName, attr:{id:getCode() + 'card_holder_name', 'data-validate': JSON.stringify({'required-entry':true}) }"></input>
                </div>
                
                 <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                   <div class="control">
                        <div class="fields">
                            <div class="field no-label month dpsPaymentFormSelect">
                                <div class="control">
                                    <select class="select select-month" name="payment[windcave_pxfusion_expiry_month]" id="windcave_pxfusion_expiry_month"
                                        data-bind="value:expiryMonth, options: expiryMonths, optionsCaption: 'Month', attr:{'data-validate': JSON.stringify({'required-number':true, 'validate-cc-exp':'#windcave_pxfusion_expiry_year'}) }">

                                    </select>
                                </div>
                            </div>
                            
                            <div class="field no-label year">
                                <div class="control">
                                    <select class="select select-year dpsPaymentFormSelect" name="payment[windcave_pxfusion_expiry_year]" id="windcave_pxfusion_expiry_year"
                                        data-bind="value:expiryYear, options: expiryYears, optionsCaption: 'Year', attr:{ 'data-validate': JSON.stringify({required:true}) }">
                                        <!-- ko foreach: expiryYears -->
                                        <option data-bind="value: $data, text:$data"></option>
                                        <!--/ko-->
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>  
                </div>
                
                <div class="clear"></div>
                
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <div class="control _with-tooltip">
                        <input type="tel" autocomplete="off" class="input-text cvv" placeholder="CVC" name="payment[windcave_pxfusion_cvc]" maxlength="4"
                            data-bind="value:cvc, 
                                        attr: {
                                            id: getCode() + '_cvc',
                                            'data-validate': JSON.stringify(
                                                {
                                                    'required-entry':true, 
                                                    'windcave-validate-cvc': true,
                                                    'windcave-pattern': '\\d{3,4}'
                                                }
                                            )
                                        },
                                        event:{ input: function(data, event) { numberOnlyInput(data, event, false); } }" />
                    </div>
                    
                    <div class="field-tooltip toggle">
                        <span class="field-tooltip-action action-cvv" tabindex="0" data-toggle="dropdown"
                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                        </span>
                        <div class="field-tooltip-content" data-target="dropdown" data-bind="html: getCvvImageHtml()"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
        
        <!-- PaymentInformationManagement::savePaymentInformationAndPlaceOrder -->
        <!-- QuoteManagement::placeOrder -->
        <!-- OrderService::place -->
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                    data-bind="click: placeOrder, enable: (getCode() == isChecked())"
                    disabled>
                    <span data-bind="i18n: placeOrderButtonTitle"></span>
                </button>
            </div>
        </div>
            
    </div>
    

</div>