<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">

			<group id="windcave_pxpay2" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Windcave Checkout</label>
				<field id="active" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="title" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Method Title</label>
					<comment>Specifies the name that will be displayed on the store front</comment>
                    <config_path>payment/windcave_pxpay2/title</config_path>
				</field>

				<field id="placeOrderButtonTitle" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>"Place Order" Button Title</label>
					<comment>Specifies the name of the button that will trigger this payment method</comment>
                    <config_path>payment/windcave_pxpay2/placeOrderButtonTitle</config_path>
				</field>

				<!-- is there any better way to allow user upload certain logos, but 
					only define one field? -->
				<field id="merchantLogo1Source" translate="label" type="image" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
                
				<field id="merchantLogo1Width" translate="label" type="text" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo1Height" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo1Alt" translate="label" type="text" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo2Source" translate="label" type="image" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo2Width" translate="label" type="text" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo2Height" translate="label" type="text" sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo2Alt" translate="label" type="text" sortOrder="213" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo3Source" translate="label" type="image" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo3Width" translate="label" type="text" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo3Height" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo3Alt" translate="label" type="text" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo4Source" translate="label" type="image" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo4Width" translate="label" type="text" sortOrder="231" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo4Height" translate="label" type="text" sortOrder="232" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo4Alt" translate="label" type="text" sortOrder="233" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo5Source" translate="label" type="image" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo5Width" translate="label" type="text" sortOrder="241" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo5Height" translate="label" type="text" sortOrder="242" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo5Alt" translate="label" type="text" sortOrder="243" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantText" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Payment Description</label>
				</field>

				<field id="merchantLinkUrl" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link</label>
				</field>
				
                <field id="merchantLinkText" translate="label" type="text" sortOrder="321" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link Text</label>
				</field>

				<field id="paymenttype" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Type</label>
					<source_model>Windcave\Payments\Model\Config\Source\PaymentOptions</source_model>
				</field>

				<field id="forcea2a" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Account2Account Only</label>
					<comment>Rebilling and Authorise Only cannot be enabled if
						Account2Account only is set as payment method</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>


				<field id="pxPayUserId" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay UserId</label>
				</field>

				<field id="pxPayKey" translate="label" type="password" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Key</label>
				</field>

				<field id="pxPayUrl" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Url</label>
				</field>

				<field id="allowRebill" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Rebill</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="pxpostusername" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Username</label>
				</field>

				<field id="pxpostpassword" translate="label" type="password" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Password</label>
				</field>

				<field id="pxposturl" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Url</label>
				</field>

				<field id="emailCustomer" translate="label" type="select" sortOrder="1210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Email Customer</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/windcave_pxpay2/emailCustomer</config_path>
				</field>

				<field id="locksFolder" translate="label" type="text" sortOrder="1200"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lock Files Folder</label>
                    <comment>Leave it blank for using the default folder</comment>
				</field>

				<field id="redirectonerror" translate="label" type="select" sortOrder="1220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Redirect On Failure</label>
					<source_model>Windcave\Payments\Model\Config\Source\RedirectOnErrorOptions</source_model>
                    <comment>Choose where to redirect customer to when the payment fails</comment>
				</field>
			</group>

			<group id="windcave_pxpay2_iframe" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Windcave Checkout (iFrame)</label>
				<field id="active" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="title" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Method Title</label>
					<comment>Specifies the name that will be displayed on the store front</comment>
                    <config_path>payment/windcave_pxpay2_iframe/title</config_path>
				</field>

				<field id="placeOrderButtonTitle" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>"Place Order" Button Title</label>
					<comment>Specifies the name of the button that will trigger this payment method</comment>
                    <config_path>payment/windcave_pxpay2_iframe/placeOrderButtonTitle</config_path>
				</field>

				<!-- is there any better way to allow user upload certain logos, but 
					only define one field? -->
				<field id="merchantLogo1Source" translate="label" type="image" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo1Width" translate="label" type="text" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo1Height" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo1Alt" translate="label" type="text" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo2Source" translate="label" type="image" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo2Width" translate="label" type="text" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo2Height" translate="label" type="text" sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo2Alt" translate="label" type="text" sortOrder="213" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo3Source" translate="label" type="image" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo3Width" translate="label" type="text" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo3Height" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo3Alt" translate="label" type="text" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo4Source" translate="label" type="image" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo4Width" translate="label" type="text" sortOrder="231" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo4Height" translate="label" type="text" sortOrder="232" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo4Alt" translate="label" type="text" sortOrder="233" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo5Source" translate="label" type="image" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>Windcave\Payments\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">Windcave\Payments\MerchantLogo</base_url>
				</field>
				
                <field id="merchantLogo5Width" translate="label" type="text" sortOrder="241" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				
                <field id="merchantLogo5Height" translate="label" type="text" sortOrder="242" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				
                <field id="merchantLogo5Alt" translate="label" type="text" sortOrder="243" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantText" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Payment Description</label>
				</field>

				<field id="merchantLinkUrl" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link</label>
				</field>
				
                <field id="merchantLinkText" translate="label" type="text" sortOrder="321" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link Text</label>
				</field>

				<field id="iframeWidth" translate="label" type="text" sortOrder="322" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>IFrame Width</label>
                    <validate>validate-number</validate>
                    <config_path>payment/windcave_pxpay2_iframe/iframeWidth</config_path>
				</field>
				
                <field id="iframeHeight" translate="label" type="text" sortOrder="323" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>IFrame Height</label>
                    <validate>validate-number</validate>
                    <config_path>payment/windcave_pxpay2_iframe/iframeHeight</config_path>
				</field>


				<field id="paymenttype" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Type</label>
					<source_model>Windcave\Payments\Model\Config\Source\PaymentOptions</source_model>
				</field>

				<field id="forcea2a" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Account2Account Only</label>
					<comment>Rebilling and Authorise Only cannot be enabled if
						Account2Account only is set as payment method</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>


				<field id="pxPayUserId" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay UserId</label>
				</field>

				<field id="pxPayKey" translate="label" type="password" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Key</label>
				</field>

				<field id="pxPayUrl" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Url</label>
				</field>

				<field id="allowRebill" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Rebill</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="pxpostusername" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Username</label>
				</field>

				<field id="pxpostpassword" translate="label" type="password" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Password</label>
				</field>

				<field id="pxposturl" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Url</label>
				</field>

				<field id="emailCustomer" translate="label" type="select" sortOrder="1210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Email Customer</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/windcave_pxpay2_iframe/emailCustomer</config_path>
				</field>

				<field id="locksFolder" translate="label" type="text" sortOrder="1200"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lock Files Folder</label>
                    <comment>Leave it blank for using the default folder</comment>
				</field>

				<field id="redirectonerror" translate="label" type="select" sortOrder="1220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Redirect On Failure</label>
					<source_model>Windcave\Payments\Model\Config\Source\RedirectOnErrorOptions</source_model>
                    <comment>Choose where to redirect customer to when the payment fails</comment>
				</field>
			</group>
			
			<group id="windcave_pxfusion" translate="label" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Windcave PxFusion</label>
				<field id="active" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="title" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Method Title</label>
					<comment>Specifies the name that will be displayed on the store front</comment>
                    <config_path>payment/windcave_pxfusion/title</config_path>
				</field>

				<field id="placeOrderButtonTitle" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>"Place Order" Button Title</label>
					<comment>Specifies the name of the button that will trigger this payment method</comment>
                    <config_path>payment/windcave_pxfusion/placeOrderButtonTitle</config_path>
				</field>
				
				<field id="paymenttype" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Type</label>
					<source_model>Windcave\Payments\Model\Config\Source\PaymentOptions</source_model>
				</field>

				<field id="allowRebill" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Rebill</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="requireCvcForRebilling" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Require CVC for Rebilling</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="username" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Username</label>
				</field>

				<field id="password" translate="label" type="password" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Password</label>
				</field>
				
				
				<field id="postUrl" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxFusion Post Url</label>
				</field>

				<field id="wsdl" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>WSDL</label>
				</field>
				
				<field id="pxpostusername" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Username</label>
				</field>

				<field id="pxpostpassword" translate="label" type="password" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Password</label>
				</field>

				<field id="pxposturl" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Url</label>
				</field>

				<field id="locksFolder" translate="label" type="text" sortOrder="1200"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lock Files Folder</label>
                    <comment>Leave it blank for using the default folder</comment>
				</field>

				<field id="redirectonerror" translate="label" type="select" sortOrder="1220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Redirect On Failure</label>
					<source_model>Windcave\Payments\Model\Config\Source\RedirectOnErrorOptions</source_model>
                    <comment>Choose where to redirect customer to when the payment fails</comment>
				</field>
			</group>
		</section>
	</system>
</config>
